
body {
  margin: 0;
  font-family: sans-serif;
  text-align: center; /* 文字の中央寄せ */
}

.menu {
  display: flex;
  justify-content: center; /* 横方向中央 */
  gap: 20px;
  margin: 20px 0;
}

#content {
  max-width: 600px;
  margin: 0 auto; /* ブロック要素を中央 */
  padding: 20px;
}

.modal-overlay {
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  background: rgba(0,0,0,0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: #fff;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.modal .close-btn {
  position: absolute;
  top:10px; right:10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.page-content {
  padding: 50px;
  text-align: center;
  display: flex;          
  gap: 20px;               
  justify-content: center;  
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 19px;
  cursor: pointer;
}

.buttonNeumorphism {
  display: flex;                 /* 中央に文字やアイコンを寄せる */
  align-items: center;
  justify-content: center;
  width: 80px;                   /* ボタンの幅 */
  aspect-ratio: 1.5;               /* 正方形にする */
  color: #222;                   /* 文字色 */
  background-color: #efefef;     /* 背景色 */
  border-radius: 50%;            /* 丸くする */
  border: none;                  /* 枠線なし */
  box-shadow: 
    -4px -4px 8px #fff,         /* 上と左のハイライト */
    4px 4px 8px rgb(0 0 0 / 24%); /* 下と右の影 */
  cursor: pointer;               /* マウスオーバーで指マーク */
}

@media (any-hover: hover) {
  .buttonNeumorphism {
    transition: box-shadow 0.2s;
  }

  .buttonNeumorphism:hover {
    box-shadow:
      -2px -2px 4px #fff,
      2px 2px 4px rgb(0 0 0 / 24%);
  }

  .buttonNeumorphism:active {
    background-color: #ebebeb;
    box-shadow: inset 4px 4px 8px rgb(0 0 0 / 16%);
  }
}

